{% extends 'base2.html.twig' %}

{% block body %}
    <script type="text/javascript" src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>

    {% include 'convivencia/navegacion.html.twig' %}

    <div class="">
        <h3 class="center azul-prof fuente">Nueva noticia</h3>
        <form>
            <div class="input-field col s6 m4 offset-m2" id="noticiascursos">
                <select id="puntosnoticias" name="puntos[]" required>

                    {% if noticia is defined %}
                        {% for i in 0..10 %}
                            <option value="{{ i }}"
                                {% if (i == noticia[0].puntos ) %}
                                    selected
                                {% endif %}
                             >{{ i }}</option>
                        {% endfor %}

                    {% else %}
                        <option value="" disabled selected>Elige puntos</option>
                        {% for i in 0..10 %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}

                    {% endif %}
                </select>
                <label for="puntosnoticias">Puntos</label>
            </div>
            <div class="input-field col s6 m4" id="noticiascursos">
                <select id="cursosnoticias"  name="cursos[]" required>

                    {% if noticia is defined %}
                        {% for curso in cursos %}
                            <option value="{{ curso.id }}"
                                    {% if (curso.grupo == noticia[0].idcurso.grupo ) %}
                                        selected
                                    {% endif %}
                            >{{ curso.grupo }}</option>
                        {% endfor %}

                    {% else %}
                        <option value="" disabled selected>Elige grupo</option>
                        {% for curso in cursos %}
                            <option value="{{ curso.id }}">{{ curso.grupo }}</option>
                        {% endfor %}

                    {% endif %}

                </select>
                <label for="cursosnoticias">Cursos</label>
            </div>
            <div class="input-field col s6 m4 offset-m2">
                <label for="inicioNoticia">Fecha de inicio</label>
                <input id="inicioNoticia" type="text" name="fechaInicio" class="datepicker"
                        {% if noticia is defined %}
                            value="{{ noticia[0].fechaInicio|date("d/m/Y") }}"
                        {% else %}
                            value="{{ "now"|date('d/m/Y') }}"
                        {% endif %}
                       required>
            </div>
            <div class="input-field col s6 m4">
                <label for="finNoticia">Fecha finalización</label>
                <input id="finNoticia" type="text" name="fechaFinal" class="datepicker"
                        {% if noticia is defined %}
                            value="{{ noticia[0].fechaFinal|date("d/m/Y") }}"
                        {% else %}
                            value=""
                        {% endif %} required>
            </div>
            <div class="col s12 m8 offset-m2">
                <label for="editor1"></label>
                <textarea name="editor1" id="editor1" rows="10" cols="80">
                    {% if noticia is defined %}
                        {{ noticia[0].noticia_texto }}
                    {% else %}
                        Inserte la noticia aquí...
                    {% endif %}
            </textarea>
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace('editor1');

                </script>
            </div>

            <div style="margin-top: 3%" class="col s12 center">
                <a href="{{ path('noticias') }}" data-title="Cancelar"
                   class="z-depth-3 btn blue darken-3 waves-effect waves-light botonSubmit confirm"
                   style="margin-bottom: 1%">Cancelar<i
                            class="material-icons left">undo</i></a>
                <button class="btn z-depth-3 blue darken-4 waves-effect waves-light" type="submit"
                        style="margin-bottom: 1%"
                        value="Enviar">Enviar <i class="material-icons right">send</i></button>
            </div>
        </form>
    </div>
{% endblock %}
