{% extends 'base2.html.twig' %}

{% block body %}
    {% include 'convivencia/navegacion.html.twig' %}
    <div class="">
        <h3 class="center azul-prof fuente">Gestión Noticias</h3>
        <div class="row center">
            <a href="{{ path('nuevaNoticia') }}"
               class="btn z-depth-3 blue darken-3 waves-effect waves-light"
               title="Nueva Noticia">Nueva<i
                        class="material-icons right" style="margin-top: -2%;">add</i></a>
        </div>

        <div class="row" style="padding: 6%">
            {% for noticia in noticias %}
                <div style="border: 1px solid; margin-bottom: 20px">
                    <div style="display: flex;justify-content: flex-end; ">
                        <p style="margin: 5px">{{ noticia.fechaInicio|date("d/m/Y") }}</p>
                        <p style="margin: 5px">{{ noticia.fechaFinal|date("d/m/Y") }}</p>
                    </div>
                    <div style="padding: 2%">
                        <p id="noticiatd">{{ noticia.noticia_texto|raw }}</p>
                    </div>
                    <div style="display: flex; justify-content: flex-end">
                        <p style="margin: 5px">{{ noticia.idCurso.grupo }}</p>
                        <p style="margin: 5px">{{ noticia.puntos }}</p>
                        {% if is_granted('ROLE_CONVIVENCIA') %}
                            <p style="margin: 5px">
                                <a href="">
                                    <i class="material-icons">edit</i></a>
                            </p>
                            <p style="margin: 5px">
                                <a class="confirm paddingRightLeft "
                                   href="{{ path('borrar_noticia', {'id': noticia.id}) }}"
                                   data-title="Eliminar Noticia"><i class="material-icons ">delete</i></a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
