<meta charset="UTF-8"/>
<style>
    .alig {
        text-align: right;
    }

    .back {
        background-color: darkgrey;
    }

    .borde {
        width: 80%;
        margin: 0 auto;
        /*        margin-top: 2%;*/
        padding: 10px;
        border: 2px solid black;

    }

    .firma {
        text-align: center;
        font-size: 13.5px;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    main {
        flex: 1;

    }

    .caja {
        padding: 0.5%;
    }

    #flex-container {
        display: flex;
        border: 1px solid;
    }
</style>
<div class="container">
    <header>
        <div style="width: 10%;display: inline-block; margin-right: 20px"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Logotipo_de_la_Junta_de_Andaluc%C3%ADa.svg/1200px-Logotipo_de_la_Junta_de_Andaluc%C3%ADa.svg.png"
                    width="90" height="70"></div>
        <div style="width: 28%;display: inline-block;vertical-align: top;margin-top: 2%;margin-left:1%; font-size: 15px">
            CONSEJERÍA DE EDUCACIÓN GRAN CAPITÁN Córdoba
        </div>

        <div style="width: 100%">
            <h2 style="font-size: 20px; text-align: center; margin-top:0">PARTE DE
                INCIDENCIAS</h2>
        </div>
    </header>

    <main>
        <div id="flex-container">
            <div class="caja" style="width:50%;">
                APELLIDOS DELALUMNO<br>
                {{ partes.idAlumno.apellido1 ~ " " ~ partes.idAlumno.apellido2 }}
            </div>
            <div style="display:flex;border: 1px solid;width: 50%">
                <div COLSPAN="2" class="caja" style="width:70%">
                    NOMBRE DEL ALUMNO<br>
                    {{ partes.idAlumno.nombre }}
                </div>
                <div class="caja" style="width:30%;border: 1px solid">
                    CURSO<br>
                    {{ partes.idAlumno.idCurso.grupo }}
                </div>
            </div>
        </div>

        <div style="display:flex;border: 1px solid">
            <div class="caja" style="width:50%">
                PROFESOR QUE TRAMITA EL
                PARTE<br>
                {{ partes.idProfesor.nombre ~ " " ~ partes.idProfesor.apellido1 ~ " " ~ partes.idProfesor.apellido2 }}
            </div>
            <div class="caja" style="width:50%">
                {% if  partes.idAlumno.idCurso.idTutor is null %}
                    {{ "NO EXISTE TUTOR ASIGNADO AL GRUPO" }}<br>
                {% else %}
                    {{ "TUTOR DEL GRUPO DEL ALUMNO" }}<br>
                    {{ partes.idAlumno.idCurso.idTutor.nombre ?? "" ~ " " ~ partes.idAlumno.idCurso.idTutor.apellido1 ?? '' ~ " " ~ partes.idAlumno.idCurso.idTutor.apellido2 ?? '' }}
                {% endif %}
            </div>
        </div>
        <div class="back caja" class="caja" style="border: 1px solid">
            CAUSAS DEL PARTE (marcar todas las que correspondan)
        </div>

        <div style="display:flex;border: 1px solid">
            <div style="display:flex;width: 50%;">
                <div class="back caja" style="width:70%">A/ FALTAS LEVES</div>
                <div class="back caja" style="width:30%">PUNTOS</div>
            </div>
            <div style="display:flex;width: 50%;">
                <div class="back caja" style="width:70%">A/ FALTAS GRAVES</div>
                <div class="back caja" style="width:30%">PUNTOS</div>
            </div>
        </div>

        <div style="display:flex;border:1px solid">
            <div style="display:flex;border:1px solid;width: 50%;">
                <div style="width: 70%;">
                    <ul>
                        {% for conductas in partes.idConducta %}
                            {% if(conductas.puntos > -8) %}
                                <li>
                                    <input type="checkbox" checked id="{{ conductas.id }}"><label
                                            for="{{ conductas.id }}">{{ conductas.conducta }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div style="width: 30%;">
                    <ul>
                        {% for conductas in partes.idConducta %}
                            {% if(conductas.puntos > -8) %}
                                <li>{{ conductas.puntos }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div style="display:flex;border:1px solid;width: 50%;">
                <div style="width: 70%;">
                    <ul>
                        {% for conductas in partes.idConducta %}
                            {% if(conductas.puntos < -8) %}
                                <li>
                                    <input type="checkbox" checked id="{{ conductas.id }}"><label
                                            for="{{ conductas.id }}">{{ conductas.conducta }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div style="width: 30%;">
                    <ul>
                        {% for conductas in partes.idConducta %}
                            {% if(conductas.puntos < -8) %}
                                <li>{{ conductas.puntos }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="back caja" style="border:1px solid">
            DETALLE DE LA CONDUCTA
        </div>

        <div class="caja" style="border:1px solid">
            {% if partes.descripcion is null %}
                No es necesario
            {% else %}
                {{ partes.descripcion }}
            {% endif %}
        </div>

        <div class="back caja" style="border:1px solid;">
            TAREA PROPUESTA
        </div>


        <div class="caja" style="border:1px solid">
            {% if partes.tareas is null %}
                No es necesario
            {% else %}
                {{ partes.tareas }}
            {% endif %}
        </div>

        <div class="caja back" style="border:1px solid;">
            SI IMPLICA EXULSIÓN DEL AULA
        </div>

        <div style="display:flex;border: 1px solid">
            <div style="display:flex;width: 50%;">
                <div class="caja" style="width:70%">Hora de salida del aula</div>
                <div class="caja" style="width:30%"> {{ partes.horaSalidaAula|date('H:i') }}</div>
            </div>
            <div style="display:flex;width: 50%;">
                <div class="caja" style="width:70%">Hora de llegada a jefatura</div>
                <div class="caja" style="width:30%"> {{ partes.horaLlegadaJefatura|date('H:i') }}</div>
            </div>
        </div>

        <div style="display:flex;border: 1px solid">
            <div style="display:flex;width: 50%;">
                <div class="caja" style="width:70%">Fecha</div>
                <div class="caja" style="width:30%"> {{ partes.fecha|date('d/m/Y') }}</div>
            </div>
            <div style="display:flex;width: 50%;">
                <div class="caja" style="width:70%">Firma del profesor</div>
                <div class="caja" style="width:30%"></div>
            </div>
        </div>


        {% if partes.recupera != 0 %}
            <div class="caja" style="border: 1px solid">
                <input type="checkbox" checked id="checkbo"><label class="expulsion" for="checkbox"> Actitud correcta
                    en el aula de convivencia y/o
                    realización de tareas (Rebaja 1 punto)</label>
            </div>
        {% endif %}
        {% if partes.recupera == 0 %}
            <div class="caja" style="border: 1px solid">
                <input type="checkbox" checked id="checkbo"><label class="expulsion" for="checkbox"> Actitud
                    correcta
                    en el aula de convivencia y/o
                    realización de tareas (Rebaja 1 punto)</label>
            </div>
        {% endif %}
    </main>
    <footer>
        <div class="borde firma"><p class="firma">D./Dña.
                _____________________________________________________________________________</p>
            <p class="firma">padre/madre/tutor legal
                de
                <b class="firma">{{ partes.idAlumno.nombre ~ " " ~ partes.idAlumno.apellido1 ~ " " ~ partes.idAlumno.apellido2 }}
                </b>, ha recibido el Parte de Incidencias relativo a su hijo/a.</p>
            <p class="firma">En Córdoba a ______ de ___________________ de 20_____</p>
            <p class="firma">Firma</p><br>
        </div>
        <div style="font-size: 14px;text-align: center"><br>(El presente parte de incidencias se devolverá Firmado al
            día siguiente de
            su recepción. En otro caso, el alumno será objeto de un nuevo parte sancionador)
        </div>
    </footer>
</div>
