<meta charset="UTF-8"/>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    * {
        font-size: 18px;
    }

    table, th, td {
        border: 1px solid black;
    }
    td{
        padding: 1%;
        font-size: 16px;
    }

    .faltas {
        border: 0;
        border-left: 1px solid black;
        width: 43%;
    }
    .curso{
        width: 20%;
        font-size: 13px;
    }

    .faltas2 {
        width: 6%;

        border: 0;
        border-right: 1px solid black;
    }
    label{
        font-size: 14.5px;
    }
    .alig {
        text-align: right;
    }

    .back {
        background-color: darkgrey;
        font-size: 15.5px;
    }

    .borde {
        width: 80%;
        margin: 0 auto;
/*        margin-top: 2%;*/
        padding: 10px;
        border: 2px solid black;

    }
    .firma{
        text-align: center;
        font-size: 13.5px;
    }
    .expulsion{
        font-size: 13.5px;
    }

</style>
<div>
    <div style="width: 10%;display: inline-block; margin-right: 20px"><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Logotipo_de_la_Junta_de_Andaluc%C3%ADa.svg/1200px-Logotipo_de_la_Junta_de_Andaluc%C3%ADa.svg.png"
                width="90" height="70"></div>
    <div style="width: 28%;display: inline-block;vertical-align: top;margin-top: 2%;margin-left:1%; font-size: 15px">CONSEJERÍA DE EDUCACIÓN GRAN CAPITÁN Córdoba
    </div>{#<br>#}
   {# <div style="width: 50%;display: inline-block;vertical-align: middle"><h2 style="font-size: 22px">PARTE DE
            INCIDENCIAS</h2></div>#}
    <div style="width: 100%"><h2 style="font-size: 20px; text-align: center; margin-top:0">PARTE DE
            INCIDENCIAS</h2></div>
    {#<div>RESULTADOS<br>{{ dump(partes) }}</div>#}

        <table>

            <tr>
                <td COLSPAN="2" class="faltas">APELLIDOS DEL
                    ALUMNO<br> {{ partes.idAlumno.apellido1 ~ " " ~ partes.idAlumno.apellido2 }}
                </td>
                <td class="faltas">NOMBRE DEL ALUMNO<br>
                    {{ partes.idAlumno.nombre }}
                </td>
                <td class="curso">CURSO<br>
                    {{ partes.idAlumno.idCurso.grupo }}
                </td>

            </tr>
            <tr>
                <td COLSPAN="2">PROFESOR QUE TRAMITA EL
                    PARTE<br>{{ partes.idProfesor.nombre ~ " " ~ partes.idProfesor.apellido1 ~ " " ~ partes.idProfesor.apellido2 }}
                </td>
                {#<td colspan="2">TUTOR DEL GRUPO DEL ALUMNO<br>{{ partes.idAlumno.idCurso.idTutor.nombre ~ " " ~ partes.idAlumno.idCurso.idTutor.apellido1 ~ " " ~ partes.idAlumno.idCurso.idTutor.apellido2 }}
                    <br>
                </td>#}
            </tr>
            <tr class="back">
                <td COLSPAN="4" class="back">CAUSAS DEL PARTE (marcar todas las que correspondan)</td>
            </tr>
            <tr class="back">
                <td COLSPAN="1" class="back">A/ FALTAS LEVES</td>
                <td COLSPAN="1" class="alig back">PUNTOS</td>
                <td COLSPAN="1" class="back">B/ FALTAS GRAVES</td>
                <td COLSPAN="1" class="alig back">PUNTOS</td>
            </tr>

            {% for conductas in partes.idConducta %}
                <TR id="conducta">
                    {% if(conductas.puntos > -8) %}
                        <TD COLSPAN="1" class="faltas"><input type="checkbox" checked id="{{ conductas.id }}"><label
                                    for="{{ conductas.id }}">{{ conductas.conducta }}</label></TD>
                        <TD COLSPAN="1" class="faltas2 alig">{{ conductas.puntos }}</TD>
                        <TD COLSPAN="1" class="faltas"></TD>
                        <TD COLSPAN="1" class="faltas2 alig"></TD>
                    {% else %}
                        <TD COLSPAN="1" class="faltas"></TD>
                        <TD COLSPAN="1" class="faltas2 alig"></TD>
                        <TD COLSPAN="1" class="faltas"><input type="checkbox" checked id="{{ conductas.id }}"><label
                                    for="{{ conductas.id }}">{{ conductas.conducta }}</label></TD>
                        <TD COLSPAN="1" class="faltas2 alig">{{ conductas.puntos }}</TD>
                    {% endif %}
                </TR>
            {% endfor %}



            <tr class="back">
                <td COLSPAN="4" class="back">DETALLE DE LA CONDUCTA</td>
            </tr>
            <TR>
                <TD COLSPAN="4">
                    {% if partes.descripcion is null %}
                        No es necesario
                    {% else %}
                        {{ partes.descripcion }}
                    {% endif %}

                </TD>
            </TR>
            <tr class="back">
                <td COLSPAN="4"  class="back">TAREA PROPUESTA</td>
            </tr>
            <TR>
                <TD COLSPAN="4">
                    {% if partes.tareas is null %}
                        No es necesario
                    {% else %}
                        {{ partes.tareas }}
                    {% endif %}

                </TD>
            </TR>
            <tr class="back">
                <td COLSPAN="4"  class="back">SI IMPLICA EXULSIÓN DEL AULA</td>
            </tr>
            <tr >
                <td class="expulsion">Hora de salida del aula</td>
                <td class="expulsion">
                    {{ partes.horaSalidaAula|date('H:i') }}
                </td>
                <td class="expulsion">Hora de llegada a jefatura</td>
                <td class="expulsion">
                    {{ partes.horaLlegadaJefatura|date('H:i') }}
                </td>
            </tr>
            <tr>
                <td class="expulsion">Fecha</td>
                <td class="expulsion">
                    {{ partes.fecha|date('d/m/Y') }}
                </td>
                <td class="expulsion" style="border-right: 0">Firma del profesor</td>
                <td class="expulsion" style="border-left: 0"><br></td>
            </tr>
            <tr>
                {% if partes.recupera != 0 %}
                    <td COLSPAN="4"><input type="checkbox" checked id="checkbo"><label class="expulsion" for="checkbox"> Actitud correcta
                            en el aula de convivencia y/o
                            realización de tareas (Rebaja 1 punto)</label>
                    </td>
                {% endif %}
                {% if partes.recupera == 0 %}
                    <td COLSPAN="4"><input type="checkbox" id="checkbo"><label class="expulsion" for="checkbox"> Actitud correcta en el
                            aula de convivencia y/o
                            realización de tareas (Rebaja 1 punto)</label>
                    </td>
                {% endif %}

            </tr>

        </table>
    <br><br>
   {# <br><br>#}
        <div class="borde firma"><p class="firma">D./Dña.
                _____________________________________________________________________________</p>
            <p class="firma">padre/madre/tutor legal
                de <b class="firma">{{ partes.idAlumno.nombre ~ " " ~ partes.idAlumno.apellido1 ~ " " ~ partes.idAlumno.apellido2 }}
                </b>, ha recibido el Parte de Incidencias relativo a su hijo/a.</p>
            <p class="firma">En Córdoba a ______ de ___________________ de 20_____</p>
            <p class="firma">Firma</p><br>
        </div>
        <div style="font-size: 14px;text-align: center"><br>(El presente parte de incidencias se devolverá Firmado al día siguiente de
            su recepción. En otro caso, el alumno será objeto de un nuevo parte sancionador)
        </div>

</div>
